POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=trackit_development
CONNECTION_STRING=Host=host_address;Port=database_port;Database=database_name;User Id=database_user;Password=database_password;

ASPNETCORE_URLS=http://+:8080
ASPNETCORE_ENVIRONMENT=Development
